<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8"/>
  <title>Заказ принят</title>
  <link rel="stylesheet" href="/public/style.css"/>
</head>
<body>
<div class="wrap">
  <h1>✅ Заказ принят</h1>
  <p>Номер заказа: <b>#<%= order_id %></b></p>
  <a href="/">На главную</a>
</div>
</body>
</html>
